<div class = "container">

   <br>
   <ng-select
      [items]="doencas"
      bindLabel="descricao"
      bindValue="id"
      [(ngModel)]="selectedDoenca"
      placeholder="Selecione a doença"
      [closeOnSelect]="false"
      [searchable]="true"
      class="w-100"
      (clear)="onClear()"
   >

      <ng-template ng-option-tmp let-item="item">
         <strong>{{ item.descricao }}</strong>
      </ng-template>
   </ng-select>
   <br>

   <button class="btn btn-primary btn-pdsa"(click)="criarFormularioBancada()">
      Próximo
   </button>

</div>
