<div class="container">
   <h2>Formulários de Bancada</h2>

   <table class="data-table table table-striped table-hover w-100 overflow-hidden">
      <thead>
      <tr>
         <th>Ientificador Formulário</th>
         <th>Protocolos</th>
         <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of formulariosBancada">
         <td>{{ item.identificador }}</td>
         <td>
            <ul>
               <td>
                  {{ item.protocolos.join('   /   ') }}
               </td>
            </ul>
         </td>
         <td>
            <button class="btn btn-pdsa btn-icon btn-ghost"(click)="visualizarFormBancada(item.id)" type="button"
                    data-tooltip="Visualizar" position="middle">
               <i class="fa fa-eye"></i>
            </button>
         </td>
      </tr>
      </tbody>
   </table>

   <div *ngIf="formulariosBancada.length === 0" class="alert alert-info">
      Nenhum formulário encontrado.
   </div>
</div>
