<div class="container">

   <div class = "form-card">
   <div *ngIf="loading">Carregando ordens…</div>

   <br>
   <br>

   <ng-select
      [items]="ordemServicos"
      bindLabel="protocolo"
      bindValue="id"
      [(ngModel)]="selectedOrdens"
      [multiple]="true"
      placeholder="Selecione as ordens de serviço"
      [closeOnSelect]="false"
      [searchable]="true"
      class="w-100"
      (clear)="onClear()"
   >

      <ng-template ng-option-tmp let-item="item">
         <div>
            Protocolo:<strong>{{ item.protocolo }}</strong>
         </div>
      </ng-template>
   </ng-select>

   <div *ngIf="!loading && (!ordemServicos || ordemServicos.length === 0)">
      <strong>Sem ordens de serviço.</strong>
   </div>

   <br>

   <button class="btn btn-primary btn-pdsa"(click)="buscarAmostras()">Buscar amostras</button>

<br>
<br>
      <app-placa-psc-auj
         *ngIf="formularioBancada"
         [formulario]="formularioBancada">
      </app-placa-psc-auj>

      <button *ngIf="formularioBancada"
              class="btn btn-primary btn-pdsa"
              (click)="salvarPlaca()">
         Próximo
      </button>
   </div>
</div>

